.personal_settings__scrollbar {
  width: 400px;
  margin: 10px;
}

.themebox {
  display: flex;
  background-color: var(--main-color);
  position: relative;
  width: 350px;
  height: 150px;
  margin: 10px 0px;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 10px;
}

.themebox_apply {
  border-style: solid;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  background-color: var(--second-color);
  border: 1px solid var(--border-color);
  position: absolute;
  bottom: 5px;
  right: 5px;
  width: 70px;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
}

.themebox_element {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 70px;
  width: 80px;
  margin: 15px 10px;
}
.themebox_preview {
  border-radius: 6px;
  margin-top: 10px;
  height: 50px;
  width: 70px;
  border: 1px solid var(--border-color);
  background-color: salmon;
}
.themebox_presetname {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 16px;
}
.your_own_settings {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.your_own_settings #formSubmit {
  display: block;
  width: 100px;
  height: 70px;
  text-align: center;
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.personal-settings-box {
  border: 1px solid slateblue;
  background-color: var(--main-color);
  padding: 5px;
  position: relative;
  width: 430px;
  height: 100px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
}

.default-main {
  background-color: rgb(76, 128, 163);
}
.default-second {
  background-color: rgb(68, 139, 100);
}
.default-third {
  background-color: rgb(128, 170, 170);
}
.orange-main {
  background-color: rgb(255, 221, 68);
}
.orange-second {
  background-color: rgb(213, 226, 34);
}
.orange-third {
  background-color: rgb(77, 122, 180);
}
.metalic-main {
  background-color: rgb(96, 100, 94);
}
.metalic-second {
  background-color: rgb(108, 129, 129);
}
.metalic-third {
  background-color: rgb(153, 172, 171);
}
.city-main {
  background-color: rgb(91, 156, 200);
}
.city-second {
  background-color: rgb(109, 176, 163);
}
.city-third {
  background-color: rgb(139, 172, 233);
}
.wine-main {
  background-color: rgb(194, 63, 74);
}
.wine-second {
  background-color: rgb(129, 91, 40);
}
.wine-third {
  background-color: rgb(168, 223, 81);
}
