.artist-talk {
  background-color: wheat;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 800px;
  height: 400px;
  border: 10px solid rgba(97, 64, 110, 0.466);
  border-radius: 10px;
}

.artist-talk > a {
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  top: 3px;
  left: 3px;
}
.artist-talk__gotomelon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid silver;
  overflow: hidden;
}

.artist-talk__artist a img {
  max-height: 70px;
  margin-top: -10%;
}

.artist-talk__info {
  display: flex;

  height: 200px;
  width: 300px;
  margin: 0px 20px;
}

.artist-talk__artist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 90%;
  padding: 10px;
  border-radius: 20px;
  background-color: slategrey;
  border: 1px solid slateblue;
  margin-left: 35px;
}

.artist-talk__pic {
  border-radius: 13%;
  width: 140px;
  height: 180px;
}

.artist-talk__name {
  color: var(--text-color);
  background-color: var(--text-bgcolor);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 40px;
  margin: 0px 10px;
  border-radius: 20px;
  padding: 0px 10px;
  box-sizing: border-box;
}

.artist-talk__name-text {
  text-align: center;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 130px;
  height: 20px;
  box-sizing: border-box;
}

.artist-talk__talks {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95%;
  width: 410px;
}

.artist_scrollbar {
  position: relative;
  box-sizing: border-box;
  height: 95%;
  width: 95%;
}

.review-input {
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  width: 310px;
  margin-left: 5px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 60;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.review-input #comment {
  word-break: break-all;
  height: 65px;
  width: 125px;
}
.review-input img {
  height: 64px;
  width: 64px;
  border-radius: 10px;
  margin: 5px;
}
.review-input__submit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  position: relative;
}
.review-input label[for="user_pic"] {
  border: 1px solid black;
  margin: 5px;
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 20px;
  font-size: 12px;
  z-index: 1;
}
.review-input #user_pic {
  width: 90px;
  height: 20px;
  position: absolute;
  box-sizing: border-box;
  top: 6px;
  z-index: 0;
}
