.my-button-style {
  color: var(--second-color);
  transition: background-color 0.3s ease-in-out;
  transition-delay: 0.1s;
}

.my-btn-black {
  color: black;
}

.my-button-style:hover {
  background-color: var(--main-color);
}

.melonbutton {
  background-color: var(--second-color);
}

.melonbutton:hover {
  background-color: var(--third-color);
}
