.status-bar {
  background-color: var(--third-color);
  height: 50px;
  width: 100vw;
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  top: 0px;
  border-bottom: 3px solid var(--border-color);
  padding: 30px;
  z-index: 99;
}

.status-bar__btn {
  border: 1px solid var(--border-color);
  background-color: var(--second-color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 100%;
  border-radius: 10px;
  padding: 15px;
  margin: 0px 10px;
}

.current-btn {
  background-color: var(--third-color);
}
