.status-bar {
  background-color: lightcyan;
  height: 70px;
  width: 100vw;
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  top: 0px;
  border-bottom: 3px solid black;
  padding: 30px;
}

.status-bar__btn {
  border: 1px solid thistle;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 100%;
  border-radius: 10px;
  padding: 15px;
  margin: 0px 10px;
}
