.user_info {
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 350px;
  height: 100px;
  background-color: var(--block-background);
  padding: 10px 20px;
  border: 3px solid seagreen;
  margin: 20px;
}

.user_info__column:first-child {
  display: flex;
  justify-content: center;
}

.user_info__name {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user_info__column i {
  display: block;
  padding: 20px;
  border-radius: 20px;
  color: var(--href-color);
  opacity: 0.4;
  transition: background-color 0.2s ease-in-out;
}

.user_info__column i:hover {
  background-color: rgb(51, 94, 122);
}

.user_info__pic {
  height: 70px;
  width: 70px;
  border-radius: 20px;
  margin-right: 10px;
}
